/* Wpal Modal wrapper */
#wpal-modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(black, 0.7);
	z-index: 10000;
}

#wpal-modal {
	position: absolute;
	top: 40%; 
	left: 50%; 
	padding: 10px;
	margin-left: -200px;
	background-color: #fefefe;
	border: 1px solid darkgray;
	box-shadow: 0px 0px 10px 0px;
	border-radius: 5px;
}

/* Search input */
#wpal-modal-input {
	width: 400px;
	border: none;
	background-color: #fefefe;
	font-size: 20px;

	&:focus {
		border: none;
		box-shadow: none;
	}
}

.wpal-modal-dropdown-item {
	padding: 5px;
	color: #3c434a;

	a {
		color: #3c434a;
		text-decoration: none;
	}

	&.wpal-selected {
		background-color: #2271b1;
		color: white;

		a {
			color: white;
		}
	}
}

/* Search results icon when base64 */
.wpal-icon-base64 {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-size: contain;
	background-repeat: no-repeat;
}

.wpal-result-type {
	float: right;
}

/* Wpal Ribbon */
.wpal-ribbon {
  position: absolute;
  right: 10px;
  top: -3px;
  
  filter: drop-shadow(2px 3px 2px rgba(black, 0.5));

	.wpal-ribbon-content {
		position: relative;
    color: white;
    font-size: 0.75rem;
		font-weight: bold;
    text-align: center;
    background: #BA051B linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
    background-size: 400% 400%;
    padding: 8px 2px 4px;
    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    
    width: 22px;
    min-height: 26px;
    
    transition: clip-path 1s, padding 1s, background 1s;

		clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 6px), 0 calc(100% - 12px));

		&.wpal-ribbon-content-loading {
			animation: wpalLoadingAnimation 1s ease-out infinite;
		}

		.wpal-ribbon-logo {
			position: absolute;
			top: 5px;
			bottom: 10px;
			left: 0;
			width: 100%;
			background: transparent url(../img/logo.png) no-repeat center center;
			background-size: contain;
		}
  }
}

@keyframes wpalLoadingAnimation {
	0% {
			background-color: #d12525;
	}
	25% {
			background-color: black;
	}
	50% {
		background-color: #d12525;
	}
	75% {
			background-color: black;
	}
	100% {
		background-color: #d12525;
	}
}

/* Spinner */
#wpal-modal .spinner {
	position: absolute;
	top: 20px;
	right: 30px;
}

.wpal-settings-title {
	padding-left: 25px;
	line-height: 30px;
	background: transparent url(../img/logo-red.png) no-repeat left center;
	background-size: contain;
}